.App {
  text-align: center;
}

body {
  background-image: linear-gradient(1deg, #ff7f50, #2980b9);
  height: 100vh;
  color: #fff;
}

.taskBg {
  background-image: linear-gradient(312deg, #2980b9, #ff7f50);
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: start;
  font-size: 22px;
  position: relative;
}

.row {
  margin-bottom: 20px;
}

button {
  margin-left: 20px;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px;
  cursor: pointer;
  color: #ff7f50ff;
}

.taskBg .iconsWrap span:hover {
  color: #ff7f50ff;
}
